#logo{
    height: 100px;
    width: 200px;
}

#hero{
    height: 300px;
    width: 300px;
}

#image-project{
    height: 300px;
    width: 500px;
}

#image-event{
    height: 150px;
    width: 150px;
}
